
@{
    ViewBag.Title = "Index";
}

<div>
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#about">About</a></li>
        <li class="active"><a data-toggle="tab" href="#members">Members</a></li>
    </ul>

    <div class="tab-content">
        <div id="about" class="tab-pane fade">
            <h3>About</h3>
            <p>*content*</p>
        </div>
        <div id="members" class="tab-pane fade in active">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#memeber1">Memeber1</a>
                        </h4>
                    </div>
                    <div id="memeber1" class="panel-collapse collapse">
                        <div class="panel-body">Panel Body</div>
                        <div class="panel-footer">Panel Footer</div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#memeber2">Memeber2</a>
                        </h4>
                    </div>
                    <div id="memeber2" class="panel-collapse collapse">
                        <div class="panel-body">Panel Body</div>
                        <div class="panel-footer">Panel Footer</div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#memeber3">Memeber3</a>
                        </h4>
                    </div>
                    <div id="memeber3" class="panel-collapse collapse">
                        <div class="panel-body">Panel Body</div>
                        <div class="panel-footer">Panel Footer</div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#memeber4">Memeber4</a>
                        </h4>
                    </div>
                    <div id="memeber4" class="panel-collapse collapse">
                        <div class="panel-body">Panel Body</div>
                        <div class="panel-footer">Panel Footer</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" style="text-align: center; font-size: 50px;">Contact</div>

                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Daniel Eriksson</td>
                            <td>daniel_eriksson97@hotmail.com</td>
                            <td>0704242175</td>
                        </tr>
                        <tr>
                            <td>Linus Skagerberg</td>
                            <td>Linus@skagerberg.nu</td>
                            <td>0763613602</td>
                        </tr>
                        <tr>
                            <td>Linus Alpsten</td>
                            <td>linus.alpsten@telia.com</td>
                            <td>0735397925</td>
                        </tr>
                        <tr>
                            <td>Lina Hannér Sanchez</td>
                            <td>lina.hannersanchez@gmail.com</td>
                            <td>0735620770</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>

