
@{
    ViewBag.Title = "Index";
}

<div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#about">About</a></li>
        <li><a data-toggle="tab" href="#members">Members</a></li>
    </ul>

    <div class="tab-content">
        <div id="about" class="tab-pane fade in active">
            <h3>About</h3>
            <p>*content*</p>
        </div>
        <div id="members" class="tab-pane fade">
            <h3>Members</h3>
            <p>*content*</p>
        </div>
    </div>
</div>

