
@{
    ViewBag.Title = "Index";
}
<div>
    <img src="~/Content/washbears logo.png" style="width:100%;"/>
</div>
<div style="text-align:center; width:45vw; margin: auto;">
    <h1 style="font-size:350%">washbears</h1>
    <p style="max-width:200%">
        Vi är ett teamprogrammerare, som sitter i rummet "Antarktis", och skriver kod.
        Förutom flera fall av frostskada, sjukdomar, brandalarm, strömavbrott, konkurrenser, benbrott, polisanmälningar
        och med mera, så är vi det säkraste, pålitligaste och mest stabila team avprogrammerare
        på denna sida av Skogås.
    </p>
</div>
