
@{
    ViewBag.Title = "Index";
}
<div>
    <img src="~/Content/washbears logo.png" style="width:100%;"/>
</div>
<div style="text-align:center; width:45vw; margin: auto;">
    <h1 style="font-size:350%">washbears</h1>
    <p style="max-width:200%">
        Vi är ett team programmerare, som sitter i rummet "Antarktis", och skriver kod.
        Förutom flera fall av frostskada, sjukdomar, brandalarm, strömavbrott, konkurrenser, benbrott, polisanmälningar
        och med mera, så är vi det säkraste, pålitligaste och mest stabila team av programmerare
        på denna sida av Skogås.
    </p>
</div>

<div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#about">About</a></li>
        <li><a data-toggle="tab" href="#members">Members</a></li>
    </ul>

    <div class="tab-content">
        <div id="about" class="tab-pane fade in active">
            <h3>About</h3>
            <p>*content*</p>
        </div>
        <div id="members" class="tab-pane fade">
            <h3>Members</h3>
            <p>*content*</p>
        </div>
        <div id="contact">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" style="text-align: center; font-size: 50px;">Contact</div>

                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Daniel Eriksson</td>
                            <td>daniel_eriksson97@hotmail.com</td>
                            <td>0704242175</td>
                        </tr>
                        <tr>
                            <td>Linus Skagerberg</td>
                            <td>Linus@skagerberg.nu</td>
                            <td>0763613602</td>
                        </tr>
                        <tr>
                            <td>Linus Alpsten</td>
                            <td>linus.alpsten@telia.com</td>
                            <td>0735397925</td>
                        </tr>
                        <tr>
                            <td>Lina Hannér Sanchez</td>
                            <td>lina.hannersanchez@gmail.com</td>
                            <td>0735620770</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>

